@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

header {
  width:270px;
  float:left;
  position:fixed;
}
