<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – Stephanie Kestelman</title>

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/css/blog.css">

  {% include mathjax.html %}
</head>

<body>
  <div class="container">

    <header>
      <h1><a href="/">Stephanie Kestelman</a></h1>
      <nav>
        <a href="/research.html">Research</a> ·
        <a href="/blog.html">Research Notes</a> ·
        <a href="/cv/">CV</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

  </div>
</body>
</html>
``
