
<header class="site-header">
  <div class="header-inner">
    <div class="site-title">
      <a href="{{ '/' | relative_url }}">Stephanie Kestelman</a>
    </div>

    <nav class="top-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/research' | relative_url }}">Research</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/cv' | relative_url }}">CV</a>
      <a href="{{ '/teaching' | relative_url }}">Teaching</a>
      <a href="{{ '/dexter.html' | relative_url }}">My dog, Dexter</a>
    </nav>
  </div>
</header>
