<div class="sidebar">

  <h3 class="site-title">
    <a href="{{ '/' | relative_url }}">Stephanie Kestelman</a>
  </h3>

  <img> 
    {{ '/image/stephaniekestelman_photo_circ.jpg' | relative_url }}
    alt="Stephanie Kestelman"
    class="profile-pic"
  </img>


  <nav class="side-nav">
    <h5><a href="{{ '/' | relative_url }}">Home</a></h5>

    <h5>
      <a href="{{ '/research' | relative_url }}">
        Research
      </a>
    </h5>

        <h5>
      <a href="{{ '/blog/' | relative_url }}">
        Blog
      </a>
    </h5>

    
    <h5>
      <a href="{{ '/cv/SKestelman_CV_2025dec.pdf' | relative_url }}">
        CV
      </a>
    </h5>

    <h5>
      <a href="{{ '/teaching' | relative_url }}">
        Teaching
      </a>
    </h5>

    <h5>
      <a href="{{ '/dexter' | relative_url }}">
        My dog, Dexter
      </a>
    </h5>
  </nav>

</div>
